body{
    display: flex;
    justify-content: center;
}
.container
{
    background-color: azure;
    min-width: none;
    height: 35%;
    box-shadow: 2px -5px 5px 2px gray;
}
h1{
    text-align: center;
}